In [1]:
import math
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [38]:
# Load data
data = pd.read_csv('data/CREDITCARD/credit_card_dataset.csv')
data = data.drop('Ind_ID', axis=1)
data

,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Type_Occupation,Family_Members,Rejected
0,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,NaN,2,1
1,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,-15761.0,-3173,Laborers,4,0
2,F,N,Y,0,247500.0,Commercial associate,Higher education,Separated,Rented apartment,-17016.0,-1347,Core staff,1,0
3,M,Y,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,-9927.0,-828,Drivers,2,0
4,F,N,Y,2,216000.0,State servant,Higher education,Married,House / apartment,-15444.0,-3112,NaN,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,M,N,N,0,180000.0,Working,Secondary / secondary special,Single / not married,With parents,-12784.0,-1537,Drivers,1,0
1544,F,N,Y,0,283500.0,Working,Secondary / secondary special,Married,House / apartment,-17958.0,-655,Sales staff,2,0
1545,F,N,N,0,135000.0,Pensioner,Secondary / secondary special,Widow,Municipal apartment,-23643.0,365243,NaN,1,0
1546,M,Y,Y,0,116100.0,Working,Secondary / secondary special,Married,House / apartment,-10136.0,-2441,Laborers,2,0
1547,F,N,Y,0,67500.0,Pensioner,Secondary / secondary special,Widow,House / apartment,-22116.0,365243,NaN,1,0

In [39]:
# Make birthday_count from days to years
# data.drop(data[data['Birthday_count'].isna()].index, inplace=True)
data['Birthday_count'] = np.floor(-data['Birthday_count'] / 365)

data

,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Type_Occupation,Family_Members,Rejected
0,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,51.0,365243,NaN,2,1
1,F,Y,Y,2,135000.0,Working,Secondary / secondary special,Married,House / apartment,43.0,-3173,Laborers,4,0
2,F,N,Y,0,247500.0,Commercial associate,Higher education,Separated,Rented apartment,46.0,-1347,Core staff,1,0
3,M,Y,Y,0,157500.0,Working,Secondary / secondary special,Married,House / apartment,27.0,-828,Drivers,2,0
4,F,N,Y,2,216000.0,State servant,Higher education,Married,House / apartment,42.0,-3112,NaN,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1543,M,N,N,0,180000.0,Working,Secondary / secondary special,Single / not married,With parents,35.0,-1537,Drivers,1,0
1544,F,N,Y,0,283500.0,Working,Secondary / secondary special,Married,House / apartment,49.0,-655,Sales staff,2,0
1545,F,N,N,0,135000.0,Pensioner,Secondary / secondary special,Widow,Municipal apartment,64.0,365243,NaN,1,0
1546,M,Y,Y,0,116100.0,Working,Secondary / secondary special,Married,House / apartment,27.0,-2441,Laborers,2,0
1547,F,N,Y,0,67500.0,Pensioner,Secondary / secondary special,Widow,House / apartment,60.0,365243,NaN,1,0

#### ! Do EDA
...

In [40]:
data.groupby('Rejected').apply(lambda x: x.isna().sum())

,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Type_Occupation,Family_Members,Rejected
Rejected,,,,,,,,,,,,,,
0,2,0,0,0,15,0,0,0,0,20,0,431,0,0
1,5,0,0,0,8,0,0,0,0,2,0,57,0,0

In [41]:
# Count the number of NaN values in each row
nan_counts = data.isna().sum(axis=1)

# Count the number of rows that have each number of NaN values
row_nan_counts = nan_counts.value_counts().sort_index()

print(row_nan_counts)

0    1025
1     506
2      17
Name: count, dtype: int64

In [42]:
# Count the number of NaN values in each row
data['nan_counts'] = data.isna().sum(axis=1)

# Calculate the average value of 'Rejected' for each number of NaNs
avg_rejected = data.groupby('nan_counts')['Rejected'].mean()

print(avg_rejected)

nan_counts
0    0.107317
1    0.114625
2    0.411765
Name: Rejected, dtype: float64

---

In [73]:
# Drop na for now
data = data.dropna()

In [74]:
numerical_features = data.select_dtypes(include=[np.number]).columns.tolist()
numerical_features = numerical_features[:-1]
np.array(data[numerical_features])

array([[ 2.0000e+00,  1.3500e+05, -1.5761e+04, -3.1730e+03,  4.0000e+00],
       [ 0.0000e+00,  2.4750e+05, -1.7016e+04, -1.3470e+03,  1.0000e+00],
       [ 0.0000e+00,  1.5750e+05, -9.9270e+03, -8.2800e+02,  2.0000e+00],
       ...,
       [ 0.0000e+00,  1.8000e+05, -1.2784e+04, -1.5370e+03,  1.0000e+00],
       [ 0.0000e+00,  2.8350e+05, -1.7958e+04, -6.5500e+02,  2.0000e+00],
       [ 0.0000e+00,  1.1610e+05, -1.0136e+04, -2.4410e+03,  2.0000e+00]])

In [75]:
def standardise(data_matrix):
    row_of_means = np.mean(data_matrix, axis=0)
    standardised_matrix = data_matrix - row_of_means
    row_of_stds = np.std(standardised_matrix, axis=0)
    return (standardised_matrix / row_of_stds), row_of_means, row_of_stds

data.loc[:, numerical_features], row_of_means, row_of_stds = standardise(data[numerical_features])
data

,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Type_Occupation,Family_Members,Rejected
1,F,Y,Y,1.783516,-0.536104,Working,Secondary / secondary special,Married,House / apartment,-0.260417,-0.198637,Laborers,1.734538,0
2,F,N,Y,-0.586029,0.390194,Commercial associate,Higher education,Separated,Rented apartment,-0.621997,0.562571,Core staff,-1.277153,0
3,M,Y,Y,-0.586029,-0.350844,Working,Secondary / secondary special,Married,House / apartment,1.420426,0.778927,Drivers,-0.273256,0
5,F,N,Y,1.783516,0.019675,Working,Higher education,Married,House / apartment,1.112146,0.169878,Core staff,1.734538,0
6,F,Y,Y,0.598744,2.057530,State servant,Higher education,Married,House / apartment,-0.826556,0.828952,Core staff,0.730641,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1541,F,N,Y,-0.586029,-0.165585,Working,Higher education,Married,House / apartment,-2.123634,0.838123,High skill tech staff,-0.273256,0
1542,F,N,Y,0.598744,1.687010,State servant,Higher education,Married,House / apartment,0.612273,-0.760164,Core staff,0.730641,0
1543,M,N,N,-0.586029,-0.165585,Working,Secondary / secondary special,Single / not married,With parents,0.597291,0.483365,Drivers,-1.277153,0
1544,F,N,Y,-0.586029,0.686609,Working,Secondary / secondary special,Married,House / apartment,-0.893398,0.851046,Sales staff,-0.273256,0
1546,M,Y,Y,-0.586029,-0.691722,Working,Secondary / secondary special,Married,House / apartment,1.360210,0.106513,Laborers,-0.273256,0

In [76]:
# Find the number of categories in each categorical variable
data_dummies = pd.get_dummies(data)
data_dummies

,CHILDREN,Annual_income,Birthday_count,Employed_days,Family_Members,Rejected,GENDER_F,GENDER_M,Car_Owner_N,Car_Owner_Y,...,Type_Occupation_Laborers,Type_Occupation_Low-skill Laborers,Type_Occupation_Managers,Type_Occupation_Medicine staff,Type_Occupation_Private service staff,Type_Occupation_Realty agents,Type_Occupation_Sales staff,Type_Occupation_Secretaries,Type_Occupation_Security staff,Type_Occupation_Waiters/barmen staff
1,1.783516,-0.536104,-0.260417,-0.198637,1.734538,0,True,False,False,True,...,True,False,False,False,False,False,False,False,False,False
2,-0.586029,0.390194,-0.621997,0.562571,-1.277153,0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
3,-0.586029,-0.350844,1.420426,0.778927,-0.273256,0,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
5,1.783516,0.019675,1.112146,0.169878,1.734538,0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
6,0.598744,2.057530,-0.826556,0.828952,0.730641,0,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1541,-0.586029,-0.165585,-2.123634,0.838123,-0.273256,0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1542,0.598744,1.687010,0.612273,-0.760164,0.730641,0,True,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1543,-0.586029,-0.165585,0.597291,0.483365,-1.277153,0,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1544,-0.586029,0.686609,-0.893398,0.851046,-0.273256,0,True,False,True,False,...,False,False,False,False,False,False,True,False,False,False
1546,-0.586029,-0.691722,1.360210,0.106513,-0.273256,0,False,True,False,True,...,True,False,False,False,False,False,False,False,False,False

In [114]:
train = data_dummies.sample(frac=0.8, random_state=1)
test = data_dummies.drop(train.index)

y_train = train['Rejected'].astype('float64')
y_test = test['Rejected'].astype('float64')
X_train = train.drop('Rejected', axis=1).astype('float64')
X_test = test.drop('Rejected', axis=1).astype('float64')

## Linear regression

In [131]:
def linear_regression_data(data_inputs):
    return np.concatenate((np.ones((data_inputs.shape[0], 1)), data_inputs), axis=1)

def linear_regression(data_matrix, data_outputs):
    return np.linalg.solve(data_matrix.T.dot(data_matrix), data_matrix.T.dot(data_outputs))

def prediction_error(data_matrix, data_outputs, weights):
    return 1/(2 * len(data_matrix)) * np.linalg.norm(data_matrix.dot(weights) - data_outputs) ** 2

def predict(data_matrix, weights):
    return data_matrix.dot(weights)

lr_weights = linear_regression(linear_regression_data(np.array(X_train)), np.array(y_train))
feature_names = ['Intercept'] + list(data_dummies.drop('Rejected', axis=1).columns)

print("---Weights---")
for i in range(len(lr_weights)):
    print(f"{feature_names[i]}: {lr_weights[i]}")

print("\n\n---Error and Accuracy on test data---")
print(f"Prediction error on train: {prediction_error(linear_regression_data(X_train), y_train, lr_weights)}")
print(f"Prediction error on test: {prediction_error(linear_regression_data(X_test), y_test, lr_weights)}")
print(f"Accuracy on test:")

---Weights---
Intercept: 0.07058290905951364
CHILDREN: -0.08869245685766658
Annual_income: 0.00395033368021603
Birthday_count: -0.025818867655051352
Employed_days: 0.03369280856848545
Family_Members: 0.10721309090191163
GENDER_F: 0.29354201608940295
GENDER_M: 0.3625104777440407
Car_Owner_N: 0.2976067330491388
Car_Owner_Y: 0.27978515625
Propert_Owner_N: 0.17566107519635138
Propert_Owner_Y: 0.1728395061728395
Type_Income_Commercial associate: -0.03859643890404819
Type_Income_Pensioner: 0.7873851349714501
Type_Income_State servant: -0.14698403438740987
Type_Income_Working: -0.08558052053740486
EDUCATION_Higher education: 0.1388880285732977
EDUCATION_Incomplete higher: 0.06641343759751227
EDUCATION_Lower secondary: 0.4153562120622341
EDUCATION_Secondary / secondary special: 0.12972972972972974
Marital_status_Civil marriage: -0.19536777564383878
Marital_status_Married: -0.13518612293285795
Marital_status_Separated: -0.025463708111936642
Marital_status_Single / not married: 0.03584925785695026
Marital_status_Widow: 0.09375
Housing_type_Co-op apartment: 0.11349465328201105
Housing_type_House / apartment: -0.19267621548051933
Housing_type_Municipal apartment: -0.04449766212625027
Housing_type_Office apartment: -0.1106844642419655
Housing_type_Rented apartment: -0.354305878724088
Housing_type_With parents: -0.2619047619047619
Type_Occupation_Accountants: -0.44211118565134816
Type_Occupation_Cleaning staff: -0.5490819860169199
Type_Occupation_Cooking staff: -0.38493555584780453
Type_Occupation_Core staff: -0.48001628632081456
Type_Occupation_Drivers: -0.5592158506987587
Type_Occupation_HR staff: -0.6437284118043848
Type_Occupation_High skill tech staff: -0.5710657708931703
Type_Occupation_IT staff: 0.4328373268945211
Type_Occupation_Laborers: -0.5231299617894429
Type_Occupation_Low-skill Laborers: -0.640574570953202
Type_Occupation_Managers: -0.5129230855442947
Type_Occupation_Medicine staff: -0.4763614813279206
Type_Occupation_Private service staff: -0.6058243630896175
Type_Occupation_Realty agents: -0.5603628021498045
Type_Occupation_Sales staff: -0.5415667701954046
Type_Occupation_Secretaries: -0.5748168543261558
Type_Occupation_Security staff: -0.37892999158471846
Type_Occupation_Waiters/barmen staff: -0.3328512396694215


---Error and Accuracy on test data---
Prediction error on train: 0.040661059457779404
Prediction error on test: 0.04765044228839184
Accuracy on test:

In [147]:
print("% of wrong predictions on the train data")
print(-sum(predict(linear_regression_data(X_train), lr_weights).round()-np.array(y_train))/len(y_train))
print("% of wrong predictions on the test data")
print(-sum(predict(linear_regression_data(X_test), lr_weights).round()-np.array(y_test))/len(y_test))
print("% of rejected people")
print((sum(y_train) + sum(y_test)) / (len(y_train) + len(y_test)))

% of wrong predictions on the train data
0.09634146341463415
% of wrong predictions on the test data
0.0975609756097561
% of rejected people
0.1073170731707317

##

## NN

In [90]:
def model_function(data_matrix, weight_matrix):
    return data_matrix @ weight_matrix

In [91]:
def softmax_function(argument, axis=None):    
    if axis == None:
        output = np.exp(argument - np.max(argument))
        output = output / np.sum(output)
    else:
        output = np.exp(argument - np.expand_dims(np.max(argument, axis), axis))
        output = output / np.expand_dims(np.sum(output, axis), axis)
    return output

In [92]:
def classification_accuracy(estimated_labels, true_labels):
    equal_labels = estimated_labels == true_labels
    return np.mean(equal_labels)

In [93]:
def gradient_descent(objective,
                     gradient,
                     initial_weights,
                     step_size=1,
                     no_of_iterations=100,
                     print_output=10):
    
    objective_values = []
    weights = np.copy(initial_weights)
    objective_values.append(objective(weights))
    for counter in range(no_of_iterations):
        weights -= step_size * gradient(weights)
        objective_values.append(objective(weights))
        if (counter + 1) % print_output == 0:
            print("Iteration {k}/{m}, objective = {o}.".format(k=counter+1, 
                                                               m=no_of_iterations, o=objective_values[counter]))
    print("Iteration completed after {k}/{m}, objective = {o}.".format(k=counter+ 1, 
                                                                        m=no_of_iterations,
                                                                       o=objective_values[counter]))
    return weights, objective_values

In [94]:
def nn_forward_propagation(data_input, weight_matrix):    
    no_of_layers = weight_matrix.shape[0]
    nn_state = np.empty(2*no_of_layers+1, dtype = np.ndarray)
    nn_state[0] = data_input
    for l in range(no_of_layers):
        nn_state[2*l+1] = model_function(linear_regression_data(nn_state[2*l]),weight_matrix[l])
        nn_state[2*l+2] = softmax_function(nn_state[2*l+1], axis = 1)
    return nn_state

In [95]:
def nn_back_propagation(data_input, weight_matrix, one_hot_vector_encodings):    
    nn_state = nn_forward_propagation(data_input, weight_matrix)
    no_of_layers = weight_matrix.shape[0]
    full_X_gradient = np.empty(no_of_layers, dtype = np.ndarray)
    full_W_gradient = np.empty(no_of_layers, dtype = np.ndarray)
    full_Z_gradient = np.empty(no_of_layers, dtype = np.ndarray)
    
    full_Z_gradient[no_of_layers-1] = nn_state[-1] - one_hot_vector_encodings
    for layer in range(no_of_layers,0,-1):
        full_W_gradient[layer-1] = linear_regression_data(nn_state[2*layer-2]).T@full_Z_gradient[layer-1]
        full_X_gradient[layer-1] = full_Z_gradient[layer-1] @ (np.delete(weight_matrix[layer-1],(0), axis = 0)).T
        if layer != 1:
            product_matrix = full_X_gradient[layer-1]*nn_state[2*layer-2]
        sigma_matrix = np.sum(product_matrix,axis=1)
        full_Z_gradient[layer-2] = product_matrix - (nn_state[2*layer-2].T*sigma_matrix).T
        
    return full_W_gradient

In [96]:
def nn_cost_function(data_input, weight_matrix, one_hot_vector_encodings):    
    nn_state = nn_forward_propagation(data_input, weight_matrix)
    return np.sum(np.log(np.sum(np.exp(nn_state[-2]), axis=1))- np.sum(one_hot_vector_encodings*nn_state[-2], axis=1))

In [97]:
def nn_prediction_function(data_input, weight_matrix):    
    nn_state = nn_forward_propagation(data_input, weight_matrix)
    return np.argmax(nn_state[-1], axis=1)

In [98]:
no_of_layers = 2
data_inputs = X
data_matrix = linear_regression_data(X)

OHV = y


nn_objective = lambda weight_matrix: nn_cost_function(data_inputs,weight_matrix,OHV)
nn_gradient = lambda weight_matrix: nn_back_propagation(data_inputs,weight_matrix,OHV)
nn_step = 3.9/(np.linalg.norm(data_matrix, 2) ** 2)
nn_initial_weight_matrix = np.empty(no_of_layers, dtype = np.ndarray)

for weight_pos in range(no_of_layers - 1):
    nn_initial_weight_matrix[weight_pos] = np.zeros((data_inputs.shape[1]+1,data_inputs.shape[1]))

nn_initial_weight_matrix[no_of_layers - 1] = np.zeros((data_inputs.shape[1]+1,OHV.shape[1]))
nn_optimal_weights, _ = gradient_descent(nn_objective,nn_gradient, 
                                              nn_initial_weight_matrix,step_size=nn_step,
                                              no_of_iterations=10000, print_output=1000)

nn_accuracy_rate = classification_accuracy(nn_prediction_function(data_inputs, nn_optimal_weights),labels,)
print("The two layered neural network successfully classified {acc:2.2f} % of data".format(acc = 100 * nn_accuracy_rate))

IndexError: tuple index out of range